[submodule "image-gpt"]
	path = image-gpt
	url = https://github.com/openai/image-gpt
[submodule "weat"]
	path = weat
	url = https://github.com/ryansteed/weat
[submodule "simclr"]
	path = simclr
	url = https://github.com/google-research/simclr
